{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        HireHub will help to connect students from a University with relevant career opportunities whether that be an internship or a paid position. The application will do this by allowing students to connect with employers directly or through the aid of a teacher or professional at the university. Mystery Recruiter will allow the student to create a profile, upload their resume, and apply for positions. It will also allow employers to upload job postings and view relevant applicants. Finally, it will allow teachers and professionals from the university to send employers student profiles they deem fitting for the position. Overall we aim to provide a smooth way of connecting employers with students who possess the talents to fulfill their needs
    </p>
{% endblock content %}
