{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-3">Job Posts by {{ user.username }} ({{ job_posts.total }})</h1>
    {% for job_post in job_posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + job_post.owner.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('users.user_posts', username=job_post.owner.username) }}">{{ job_post.owner.username }}</a>
              <small class="text-muted">{{ job_post.date_updated.strftime('%Y-%m-%d') }}</small>
              <div class="container">
                <div class="row">
                  <h2 class="article-title mb-2">{{ job_post.job_title }}</h2>
                </div>
                <div class="row">
                  <img class="img-thumbnail img-fluid shadow-sm job_post_flyer" src="{{ url_for('static', filename='job_desc_images/' + job_post.job_desc_image) }}">
                </div>
                <div class="row">
                  <div class="mb-2"><b>Company/Organisation:</b> {{ job_post.company_name}}</div>
                </div>
                <div class="row">
                  <div class="mb-2"><b>Hiring position:</b> {{ job_post.position }}</div>
                </div>
                <div class="row">
                  <div class="mb-2 "><b><u>Job Description</u></b></div>
                </div>
              </div>
              <p class="article-content">{{ job_post.job_desc }}</p>
              {% if current_user.role == 'student' %}
              <div class="mb-2">
                <a class="btn btn-secondary btn-sm mt-1 mb-1 text-light">Apply Now</a>
              <a class="btn btn-danger btn-sm m-1 text-light">Report Job</a>
              </div>
              {% endif %}
            </div>
          </div>
        </article>
    {% endfor %}
    {% for page_num in job_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
        {% if job_posts.page == page_num %}
          <a class="btn btn-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% else %}
          <a class="btn btn-outline-info mb-4" href="{{ url_for('users.user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
        {% endif %}
      {% else %}
        ...
      {% endif %}
    {% endfor %}
{% endblock content %}
